{% extends 'user/profile.html' %}
{% block body %}
  

<div class="" >
    <div class=" pt-3">
      <form method="POST" action="">
        {% csrf_token %}
        <h1 class="text-center text-dark font-weight-bold">Edit Profile</h3><hr>
    <div class="form-group mx-3">
      <label for="exampleInputEmail1">First Name</label>
    {{ form.first_name }}
    </div>
    <div class="form-group mx-3">
      <label for="exampleInputPassword1">Last Name</label>
      {{ form.last_name }}
    </div>
    <div class="d-flex justify-content-center pl-4">
    <button type="submit" class="btn btn-primary mt-4 mb-4 ">Submit</button></div>
  </form>
  </div>
</div>

  {% endblock %}