{% extends 'admin_panel/home.html' %}

{% block body %}

<div class="col-sm-12 col-xl-6">
    <div class="bg-light rounded h-100 p-4">
        <form action="{% url 'a_variation_search' %}" method="GET">
            <div class="d-flex pb-2">
        <input type="text" name="keyword" class="form-control" id="" style="width: 50%;">
        <button type="submit" class="btn btn-primary px-4"><i class="fa fa-search"></i></button>
    </div>
    </form>
        {% include 'user/alerts.html' %}
        <div class="d-flex justify-content-between">
        <h6 class="mb-4">Variation Table</h6>
        <a href="{% url 'a_add_variation' %}"><button class="btn btn-success">Add Variation</button></a>
    </div>
    <h5>{{ count }} Found.</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product</th>
                    <th scope="col">Variation Category</th>
                    <th scope="col">Variation Value</th>
                    <th scope="col">Is Active</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Action</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for x in variation %}
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.product}}</td>
                    <td>{{ x.variation_category }}</td>
                    <td>{{ x.variation_value }}</td>
                    <td>{{ x.is_active }}</td>
                    <td>{{ x.created_date }}</td>
                    <td><a href="{% url 'a_delete_variation' x.id %}" onclick="return confirm('Do you want to remove the variation ?')" ><button class="btn btn-danger">DELETE</button></a></td>
                    <td><a href="{% url 'a_edit_variation' x.id %}"><button class="btn btn-primary">EDIT</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock  %}