{% extends 'admin_panel/home.html' %}

{% block body %}

<div class="container-fluid">
    {% include 'user/alerts.html' %}
        <div class="d-flex justify-content-between">
        <h6 class="mb-4">Coupons Table</h6>
        <a href="{% url 'a_add_coupon' %}"><button class="btn btn-success">ADD COUPON</button></a>
    </div>
        <table class="table table-striped" style="width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Coupon Name</th>
                    <th scope="col">Limit</th>
                    <th scope="col">Discount Amount</th>
                    <th scope="col">Action 1</th>
                    <th scope="col">Action 2</th>
                </tr>
            </thead>
            <tbody>
                {% for x in coupon %}
                <tr>
                    <td>{{x.id}}</td>
                    <td>{{x.coupon_name}}</td>
                    <td>{{ x.limit }}</td>
                    <td>{{ x.discount_amount }}</td>
                    <td><a href="{% url 'a_edit_coupon' x.id %}"><button class="btn btn-primary">EDIT</button></a></td>
                    <td><a href="{% url 'a_delete_coupon' x.id %}"><button class="btn btn-danger" onclick="return confirm('Are You sure to want to delete this item')">DELETE</button></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock  %}