{% extends 'base.html' %}

{% block body %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if 'search' in request.path %}
                <h2>Search Result</h2>    
                {% else %}
                <h2>Shop</h2>
                {% endif %}
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Shop</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <h2 class="text-center">Wishlist</h2><hr>
<div class="row product-categorie-box">
  <div class="tab-content">
    {% if products %}  

      <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
        <div class="row">
            
              {% for product in products %}
                  
              <div class="col-6 col-md-6 col-lg-3 col-xl-3">
                  <div class="products-single fix pl-2" style="height: 500px; width:250px">
                      <div class="box-img-hover">
                          <div class="type-lb">
                          </div>
                         <a href="{{ product.product.get_url }}"> <img src="{{ product.product.images.url }}" class="img-fluid" alt="Image"></a>
                      </div>
                      <div class="why-text">
                         <a href="{{ product.get_url }}"> <h4>{{ product.product.product_name }}</h4></a>
                          <p><b>Rs. {{ product.product.price }}/-</b></p>
                          <div class="d-flex justify-content-between">
                         <a href="{{  product.product.get_url }}"> <button class="btn hvr-hover text-white btn-sm">Add to Cart</button></a>
                          <a href="{% url 'remove_wishlist_item' product.id %}"><button class="btn hvr-hover text-white btn-sm">Remove</button></a>
                      </div>
                    </div>
                      </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
              {% else %}
              <div class="d-flex justify-content-center flex-column align-items-center">
              <h2  class="">No Products Found!</h2>                                                    
            <img src="https://media.istockphoto.com/vectors/empty-shopping-bag-icon-online-business-vector-icon-template-vector-id861576608?k=20&m=861576608&s=612x612&w=0&h=UgHaPYlYrsPTO6BKKTzizGQqFgqEnn7eYK9EOA16uDs=" alt="" style="width: 50%; height:70%">  
            </div>
              {% endif %}
            </div>
          </div>
      </div>
      
{% endblock %}