
    {% extends 'base.html' %}

    {% block body %}

        <div class="background container-fluid pt-5" style="height: 100vh;">
    <div class="fp d-flex justify-content-center align-items-center">
        <div class="card " style="width: 22rem;">
            <div class="card-body" style="width: 22rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2 class="text-center font-weight-bold">FORGOT PASSWORD</h2><br><br>
    {% include 'user/alerts.html' %}
    <form action="" method="POST">
        {% csrf_token %}
        <div>
    <input type="email" class="form-control" placeholder="Enter Email" name="email"><br> 
    <!-- <div class="d-grid col-6 mx-auto ">
        <button class="btn btn-primary" type="submit">Submit</button></div><br>    -->
        <div class="d-grid col-6 mx-auto d-flex justify-content-center">
            <button class="btn btn-primary" type="submit">Submit</button></div><br>
    <p>Got Password? <a href="{% url 'login' %}">Login</a></p>
    <p>Dont have an account? <a href="{% url 'register' %}">Signup</a></p>
     </div>
     </form>
    </div>
     </div>
     </div>
    </div>
     {% endblock %}

<!-- </body>
</html> -->