{% extends 'base.html' %}
{% block body %}
<div class="container pt-4">
  <div class="card" style="width: 22rem;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    <h2>Reset Password</h2><br>
    {% include 'user/alerts.html' %}
    <form action="" method="POST">
        {% csrf_token %}
    <input type="password" class="form-control" placeholder="Create Password" name="password"><br>   
    <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password"><br>   
    <input type="submit" class="btn btn-primary"> <br>
</form>
</div>
</div>
{% endblock body %}